<div class="title-contents">
      <div class="items-sell-title"> お気に入りしたユーザー
      <% @item.favorites.each do |item| %>
        <li><%= link_to "#{item.user.nickname}さん", "/users/#{item.user_id}" %></li>
      <% end %>
      </div>
    <div class='items-sell-titler'>
                <%= link_to '戻る' ,:back %>
    </div>
  </div>
           