
              <h2>お気に入りしたユーザー</h2>
            <% @item.favorites.each do |item| %>
              <li><%= item.user.nickname %></li>
            <% end %>
            <%= link_to 'トップページに戻る' ,root_path%>