* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 12vw;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 2;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 180px;
  height: 35px;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 35px;
  padding-left: 10px;
}

.search-button {
  width: 35px;
  border: 0;
  cursor: pointer;
  background-color: rgb(227, 213, 221);
  padding: 5px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  align-items: center;
}

.lists-left {
  list-style: none;
  display: flex;
  justify-content: space-between;

    text-align: center;
    width: 200px;

}

.category-list {
  /* text-decoration: none;
  margin-right: 3vw;
  color: #333333; */
    padding: 7px 10px;
    font-size: 18px;
    width: 130px;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}






.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}



.hidden{
  display: none;
}

.lists-right {
  list-style: none;
  align-items: flex-end;
  text-align: center;
  display: flex;
}
.user-nickname {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
  font-size: 24px;
}

.no-login{
  display: flex;
  width: 270px;
  justify-content: space-between;
}
.list-status{
  width: 230px;
}

.post{
  margin: 5px 10px ;
  display: inline-block;
  padding: 4px 10px;
  background: #5cc7a7;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  -webkit-transition: .12s;
  transition: .12s;
  width: 120px;
}

.ham {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: aqua;
}
.ham_line {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 1px;
  background-color: #333333;
  transition: all 0.3s;
}
.ham_line1 {
	top: 10px;
}
.ham_line2 {
	top: 18px;
}
.ham_line3 {
	top: 26px;
}

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 20px;
}

.user_nav{
  padding: 2px 13px;
  font-size: 20px;
}
.user-lists{
  margin: 40px 0 0 -150px;
  display: flex;
    position: absolute;
    align-items: center;
}
.pull-down-list{
    margin: 10px 0;
    width: 180px;
    display: flex;
    /* position: relative; */
    background: #d1dfec;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: solid 2px white;
    padding: 0.2em 0.9em;
    color: #454545;
    align-items: center;
}

.menu {
  position: relative;
	width: 0px;
	height: 0px;
	
	background-color: aquamarine;
  transition: all 0.4s;
  top: -250px;
}
.clicked .menu {
  top: 40px;
  right: 0px;
}