* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}






.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.user_nav{
  background-color: rgb(193, 163, 204);
  padding: 7px 13px;
  font-size: 20px;
}
.user-lists{
    display: flex;
    position: relative;
    align-items: center;
}
.pull-down-list{
    margin: 10px;
    width: 230px;
    display: flex;
    position: relative;
    background: #d1dfec;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: solid 2px white;
    padding: 0.2em 1.1em;
    color: #454545;
    align-items: center;
}

.hidden{
  display: none;
}

.lists-right {
  list-style: none;
  align-items: flex-end;
  text-align: right;
}
.user-nickname {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
  font-size: 24px;
}

.no-login{
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.list-status{
  width: 230px;
}