a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* FURIMAが選ばれる3つの理由部分 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #3ccace;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */


/* 画面中央の「会員数日本一位」帯部分*/
.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw 5vh 7vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.3vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 7vh;
}

.google-btn {
  height: 7vh;
}

/* //画面中央の「会員数日本一位」帯部分 */

/* FURIMAの特徴 */
.feature-contents {
  padding: 5vh 15vw;
}

.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-category-contents {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.item-category-header{
  height: 90px;
}
.item-category-header>.title{
  font-size: 26px;
  font-weight: bold;
}

.item-contents {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: relative;
    z-index: 3;
    margin: 12px
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
  object-fit: contain;
  background-color: rgb(250, 250, 250);
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 5px;
}

.item-name {
  font-size: 2.5vh;
  margin-bottom: 5px;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.btn-gradient-radius {
  display: inline-block;
  padding: 5px 3px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  margin-right: 24px;
  align-items: center;
    
}

.btn-gradient-unradius {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #362c0e 0%, #412012 100%);
  transition: .4s;
  margin-right: 24px;
  align-items: center;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.category-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  background-color: #f5f5f5;
  
    /* 横並びに表示する */
    flex-direction: row;

    /* 画面幅に収まらない場合は折り返す */
    flex-wrap: wrap;
}

.category-wrap {
  width: 75%;
  background-color: #f5f5f5;
  padding: 25px 0;
  margin: 0 auto;
}

.category-title-menu{
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.category-title{
  padding: 10px 0 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(228, 63, 63);
  border-radius: 4px 4px 0px 0px;
}

.parent-title{
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 16px;
  line-height: 40px;
  padding: 0px 30px;
  float: left;
  margin: 5px 10px 10px 0px;
}

.parent-title:hover {
  background-image: linear-gradient(45deg, #f7ce5d 0%, #f1551c 100%);
}

 .parent-zone{
   height: 100%;
   width: 100%;
 }

 .category-zone{
  background-color: rgb(255, 255, 255);
  padding: 24px 30px 10px;
 }

 .grand-children-title{
  margin: 8px 25px 8px 0 ;
}

.children-title{
  margin: 22px 0 0 0;
  font-weight: bold;
}

.grand-children-zone{
  padding: 0px 20px 10px;
  /* 横並びに表示する */
  display: flex;

  /* 画面幅に収まらない場合は折り返す */
  flex-wrap: wrap;
}


.scroll-btn {
  display:  inline-block;
  text-align: center;
  padding: 29px 0 0 0;
  font-size: medium;
  color: #fff;
  text-decoration:  none;
  background-color: #2196F3;
  border-radius: 5px;
  position: fixed;
  height: 60px;
  width: 60px;
  cursor:pointer;
  bottom: 170px;
  right: 35px;
  z-index: 3;
}

.scroll-btn::before {
  content:'';
  width: 18px;
  height: 18px;
  display:  block;
  border-bottom: solid 2px;
  border-left: solid 2px;
  transform: rotate(135deg);
  position:  absolute;
  top:  15px;
  left:  0;
  right:  0;
  margin:  auto;
}


/* //商品一覧 */

.list{
  list-style: none;
}

.sort_header{
  color: #2b379e;
}

.sort-title-price{
  width: 280px;
    background-color: rgb(243, 239, 24);
    border: 2px solid #302b2b;
    font-size: 18px;
    text-align: center;
    height: 35px;
}
.sort-title-price:hover{
  background-color: #ff8b5f;
}

.sort-title-created{
  width: 280px;
    background-color: rgb(201, 197, 125);
    border: 2px solid #302b2b;
    font-size: 18px;
    text-align: center;
    height: 35px;
}
.sort-title-created:hover{
  background-color: #ff8b5f;
}

.sort-table{
  margin: 20px 0;
}

.page-zone{
  margin-top: 15px;
}

.search-pull-down{
  width: 230px;
  height: 50px;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  line-height: 40px;
}

.search-list-zone{
  width:235px;
  height: 730px;
  position: relative;
  display: block;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  
  background-color: white;
}
.side-search{
  // display: flex;
  position: absolute;
  top: 145px;
  left: 100px;
}
.now-selected-red{
  background-color: red;
  color: white;
}

.now-selected-gray{
  background-color: #66FFCC;
}

.now-selected-blue{
  background-color: #99FFFF;
}

.children_list{
  width: 235px;
  height: 730px;
  position: relative;
  background-color: white;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  list-style: none;
}
.grand_children_list{
  width:250px;
  height: 730px;
  position: relative;
  background-color: white;
  z-index: 6;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.child_category{
  padding: 5px 15px 5px 15px;
  display: inline-block;
  width: 230px;
  font-size: 15px;
}

.grand_child_category{
  padding: 1px 15px 1px 15px;
  display: inline-block;
  width: 245px;
  font-size: 13px;
}

.hidden{
  display: none;
}