.pagination{
  display: flex;
  margin-top: 15px;
}



 .pagination>li>a {          
  border: none;   
  color: #696969;  
}

.pagination>.stand-by:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.pagination>.active {     
  width: 45px;
  height: 45px;
  border: 1px solid blueviolet;
  text-align: center;
  padding: 8px 0;
  background-color: #FF00FF;
  font-size: 18px;
}

.pagination>.stand-by {     
  width: 45px;
  height: 45px;
  border: 1px solid blueviolet;
  text-align: center;
  padding: 8px 0;
  font-size: 18px;

}

.pagination>.last {     
  width: 65px;
  height: 45px;
  border: 1px solid blueviolet;
  text-align: center;
  padding: 8px 0;
  font-size: 18px;
}

.pagination>.first {     
  width: 65px;
  height: 45px;
  border: 1px solid blueviolet;
  text-align: center;
  padding: 8px 0;
  font-size: 18px;
}

.pagination>.next {     
  width: 50px;
  height: 45px;
  border: 1px solid blueviolet;
  padding: 8px 0;
  text-align: center;
  font-size: 18px;
}

.pagination>.prev {     
  width: 50px;
  height: 45px;
  border: 1px solid blueviolet;
  text-align: center;
  padding: 8px 0;
  font-size: 18px;
}
